node_modules

dist
generated
functions

data
data.json
environment.json
 
firebase.json
firestore.indexes.json
firestore.rules
.firebaserc

.tst
.cache
.vscode
.rpt2_cache
.idea

.DS_STORE

*.iml
*.log

packages/tag-editor/src/data.ts
packages/tag-editor/__generatedTypes__.ts